extends layout
// Page Content
block content
  div.container
    div.row
      div.col-lg-12.text-center
        h1=title

    if (success)
      p(style="color: green")=success
    
    if (error)
      p(style="color: red")=error
    
    if isAdmin
      a(href="/addItem" class="btn btn-success btn-sm") Add Item
      br
      br
    form(class="form-inline" action="" method="post")
      div(style="padding:5px" class="form-group")
        label Filter By:&nbsp
        select(name="filterBy")
          option(value="name") name
          option(value="author") author
          option(value="genre") genre
        input(type="text", name="filterTextInput")
      
      div(style="padding-left:5px" class="form-group")
        label Sort By:&nbsp
        //- br
        select(name="sortBy")
          option(value="name") name
          option(value="isbn") isbn
          option(value="author") author
          option(value="genre") genre
          if isAdmin
            option(value="cost") cost
          option(value="price") price
          option(value="library") library
          if isAdmin
            option(value="show") show
            option(value="numberInStock") numberInStock
        select(name="sortType")
          option(value="ASC") ASC
          option(value="DESC") DESC
      div(class="form-group")
        if isAdmin
          label show hidden  
            if (show)
              input(type='checkbox', name='showHidden' checked)
            else
              input(type='checkbox', name='showHidden')
            
      &nbsp&nbsp
      input(type='submit', class="btn btn-primary" value='Apply')
      
    table(class="table table-striped table-hover")
      tr
        if isAdmin
          th
        th
        th isbn
        th name
        th author
        th genre
        if isAdmin
          th cost
        th price
        th library
        if isAdmin
          th show
          th numberInStock
        
      each item in items
        tr
          if isAdmin
            td
              button(class="btn btn-danger removeButton" id="#{item.id}") delete
          td(class="showDetails" id="#{item.id}")
            img(src="#{item.image}" id="#{item.id}" width="75px" height="112px")
          td(class="showDetails" id="#{item.id}") #{item.isbn}
          td(class="showDetails" id="#{item.id}") #{item.name}
          td(class="showDetails" id="#{item.id}") #{item.author}
          td(class="showDetails" id="#{item.id}") #{item.genre}
          if isAdmin
            td(class="showDetails" id="#{item.id}") #{item.cost}
          td(class="showDetails" id="#{item.id}") #{item.price}
          td(class="showDetails" id="#{item.id}") #{item.library}
          if isAdmin
            td(class="showDetails showItem" id="#{item.id}") #{item.show}
            td(class="showDetails" id="#{item.id}") #{item.numberInStock}

    br
    a(href="/" class="btn btn-default btn-block") Back
    
    script.
      $(document).ready( function () {
        //- var $(".showItem")
        
        $(".showDetails").click(function (e) {
          console.log("showing details for: " + e.target.id);
          window.document.location = "item/"+e.target.id;          
        });
        
        //- $(".removeButton").click(function (e) {
        $(".removeButton").click(function (e) {
           console.log("removing: " + e.target.id);
          $.get( "removeItem/"+e.target.id, function( data ) {
            console.log("received: " + data);
            location.reload();
          });
        });
      });
