extends layout
// Page Content
block content
  script(src='https://cdn.auth0.com/js/lock/10.0/lock.min.js')
  script.
    DOMAIN = '#{DOMAIN}';
    CLIENT_ID = '#{CLIENT_ID}';
    REDIRECT_URL = '#{REDIRECT_URL}';
    console.log('#{JSON.stringify(user)}');
    
    var lock = new Auth0Lock(CLIENT_ID, DOMAIN, {
      auth: {
        redirectUrl: REDIRECT_URL,
        responseType: 'code',
        params: {
          scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
        }
      }
    });
  
  
  div.container
    div.row
      div.col-lg-12.text-center
        h1 Online Bookstore - Grand Opening!
        p(style="color: red") #{error}
        if displayName
          p Hello, #{displayName}
          a(href="/logout") Logout
        else 
          p Hello, Guest
          a(onclick="lock.show(); return false;" id="login") Login
          
      if (success)
        p(style="color: green")=success
        
      h5 Recently Added
      div.carousel
        div 1
          img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
        div 2
          img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
        div 3
          img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
        div 4
          img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
        div 5
          img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
        div 6
          img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
      
      hr
      br
      h5 Popular This Week
        div.carousel
          div 1
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
          div 2
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
          div 3
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
          div 4
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
          div 5
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
          div 6
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
        
      hr
      br
      h5 History     
        div.carousel
          div 1
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
          div 2
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
          div 3
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
          div 4
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
          div 5
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
          div 6
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
        
        
      br
      br
      script. 
        $(document).ready( function () {
          $(".carousel").slick({
            infinite: true,
            slidesToShow: 4,
            dots: true,
            slidesToScroll: 3
          });
        });
