extends layout
// Page Content
block content
  div.container
    div.row
      div.col-lg-12.text-center
        h1=title

    if (success)
      p(style="color: green")=success
    
    div
      img(src="#{item.image}" width="300px" height="450px")
      //- button add to cart
      div
      p(class="price" style="display:none" id="#{item.price}") $#{item.price}
      p(class="cost" style="display:none" id="#{item.cost}") #{item.cost}
      
      if isInStock
        p QTY
        input(class="qty" type="number" id="#{item.price}" step="1" min="1" max="#{item.numberInStock}" value="1")
        button(class="btn btn-primary addToCart" id="#{item.id}") Add to Cart
      else 
        p(style="color:red") Item is out of stock
          
      if isAdmin
        button(class="btn btn-default editItem" id="#{item.id}") Edit Item
    div
      p isbn:
      p(class="isbn" value="#{item.isbn}") #{item.isbn}
      br
      br
      p name:
      p(class="name" value="#{item.name}") #{item.name}
      br
      br
      p author:
      p(class="author" value="#{item.author}") #{item.author}
      br
      br
      p genre:
      p(class="genre" value="#{item.genre}") #{item.genre}
      br
      br
      p desc:
      p(class="desc" value="#{item.desc}") #{item.desc}
      br
      br
      if isAdmin
        p cost:
        p(class="cost" value="#{item.cost}") #{item.cost}
        br
        br
      p price:
      p(class="price" value="#{item.price}") #{item.price}
      br
      br
      p library:
      p(class="library" value="#{item.library}") #{item.library}
      br
      br
      if isAdmin
        p show:
        p(class="show" value="#{item.show}") #{item.show}
        br
        br
        p(class="numberInStock" id="#{item.numberInStock}" value="#{item.numberInStock}") numberInStock: #{item.numberInStock}
        br
        br
      else 
        p(class="numberInStock" display="none" id="#{item.numberInStock}"  value="#{item.numberInStock}") numberInStock: #{item.numberInStock}
    br
    a(href="/" class="btn btn-default btn-block") Back

    
    script.
      $(document).ready( function () {
        $(".addToCart").click(function (e) {
          console.log("adding to cart: " + e.target.id);
          
          var itemID = e.target.id;
          var isbn = $(".isbn").text();
          var name = $(".name").text();
          var author = $(".author").text();
          var genre = $(".genre").text();
          var library = $(".library").text();
          // get number value instead of string
          var price = parseFloat($(".price").attr("id"));
          var cost = parseFloat($(".cost").attr("id"));
          var qty = parseInt($(".qty").val());
          
          var numberInStock = parseInt($(".numberInStock").attr("id"));
          
          var itemToAdd = {"itemID": itemID, "isbn": isbn, "name": name, "author": author, "genre": genre, "library": library, "price": price, "cost": cost, "qty": qty, "numberInStock": numberInStock};
          
          $.post( "/addToCart", {itemToAdd: itemToAdd})
            .done(function( data ) {
              console.log( "Data Loaded: " + data );
              // show cart after adding item
              window.document.location = "../cart";          
            });
          
        });
        
        //- $(".removeButton").click(function (e) {
        $(".editItem").click(function (e) {
          window.document.location = "../editItem/"+e.target.id;
        });
      });
