extends layout
// Page Content
block content
  div.container
    div.row
      div.col-lg-12.text-center
        h1=title

    if (success)
      p(style="color: green")=success
    
    div
      img(src="#{item.image}" width="300px" height="500px")
      //- button add to cart
      div
      p(class="price" id="#{item.price}") $#{item.price}
      p QTY 
      input(class="qty" type="number" id="#{item.price}" step="1" min="1" value="1")
      button(class="btn btn-primary addToCart" id="#{item.id}") Add to Cart
      if isAdmin
        button(class="btn btn-default editItem" id="#{item.id}") Edit Item
    div
      p isbn: #{item.isbn}
      br
      br
      p name: #{item.name}
      br
      br
      p author: #{item.author}
      br
      br
      p genre: #{item.genre}
      br
      br
      p desc: #{item.desc}
      br
      br
      p cost: #{item.cost}
      br
      br
      p price: #{item.price}
      br
      br
      p library: #{item.library}
      br
      br
      p inStock: #{item.inStock}
      br
      br
      p show: #{item.show}
      br
      br
      p numberInStock: #{item.numberInStock}
      br
      br

    br
    a(href="/" class="btn btn-default btn-block") Back

    
    script.
      $(document).ready( function () {
        $(".addToCart").click(function (e) {
          console.log("adding to cart: " + e.target.id);
          var itemID = e.target.id;
          var price = $(".price").attr("id");
          var qty = $(".qty").val();
          $.post( "/addToCart", { itemID: itemID, price: price, qty: qty})
            .done(function( data ) {
              console.log( "Data Loaded: " + data );
            });

        //-  $.get( "addToCart/"+e.target.id +"/"+ price + "/" + qty, function( data ) {
          //-  console.log("received: " + data);
          //-  location.reload();
        //-  });
         
          //- console.log("showing details for: " + e.target.id);
          //- window.document.location = "item/"+e.target.id;          
        });
        
        //- $(".removeButton").click(function (e) {
        $(".editItem").click(function (e) {
          //-  console.log("removing: " + e.target.id);
          //- $.get( "removeItem/"+e.target.id, function( data ) {
          //-   console.log("received: " + data);
          //-   location.reload();
          //- });
        });
      });
