extends layout
// Page Content
block content
  div.container
    div.row
      div.col-lg-12.text-center
        h1=title
        p Change your information below
        
        br
        if (error && error.message)
          p(style="color: red") Error: #{error.message}

        if (success)
          p(style="color: green")=success

        if (user)
          form(action ='', method = "post")
            p firstName
            input(type='text', name='firstName', placeholder='firstName', value="#{user.firstName}", required)
            br 
            br
            p lastName
            input(type='text', name='lastName', placeholder='lastName', value="#{user.lastName}", required)
            br 
            br
            p email
            input(type='email', name='email', placeholder='email', value="#{user.email}", required)
            br 
            br
            p streetAddr
            input(type='text', name='streetAddr', placeholder='streetAddr', value="#{user.streetAddr}")
            br 
            br
            p city
            input(type='text', name='city', placeholder='city', value="#{user.city}")
            br 
            br
            p state (TX)
            input(type='text', name='state', pattern="[A-Z]{2}", size='2', placeholder='', value="#{user.state}")
            br 
            br
            p zip
            input(type='text', pattern='[[A-Z0-9]{4,}', name='zip', placeholder="zip", value="#{user.zip}")
            br 
            br
            input(type='submit', value='Submit')
        else
          form(action ='', method = "post")
            p firstName
            input(type='text', name='firstName', placeholder='firstName', required) 
            br 
            br
            p lastName
            input(type='text', name='lastName', placeholder='lastName', required)
            br 
            br
            p email
            input(type='email', name='email', placeholder='email', required)
            br 
            br
            p streetAddr
            input(type='text', name='streetAddr', placeholder='streetAddr')
            br 
            br
            p city
            input(type='text', name='city', placeholder='city')
            br 
            br
            p state (TX)
            input(type='text', name='state', pattern="[A-Z]{2}", size='2', placeholder='')
            br 
            br
            p zip
            input(type='text', pattern='[A-Z0-9]{4,}', name='zip', placeholder="zip")
            br 
            br
            input(type='submit', value='Submit')
            
          script.
            $(document).ready( function () {
              //- $("option")
            });
